 
    <!-- Footer -->
    
      <section class="mt-auto">
        <!-- Footer -->
        <footer class="gray text-white text-center text-md-start">
          <!-- Grid container -->
          <div class="container p-4">
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
              
                <img class="rounded-circle" src="{% static 'logo.png' %}" alt="4thPillar" height="110" width="110">

                <h4 class="p-2" >Support 4thPillarWeThePeople</h4>
                <a class="m-1 btn btn-sm yellow rounded-pill" style="color:#8e0201"  href=""><b>Donate</b></a></span>

              </div>
              

              <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase" style="color:#ecb000 !important;">our talk</h5>
      
                <p>
                    We ask everyone. We are pluralistic, independent, rational. We are skeptical; Argumentative;
                     It is also tolerant. Let's talk; Let's talk with mutual respect, respect and trust.
                     Let no one compete to have the last word in the history of thought; And no tone should be ignored as insignificant. This kind of thinking
                     Our mission is to build an Internet-based global community.
                </p>
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-lg-2 col-md-4 mb-4 mb-md-0 text-center">
                <h5 class=""style="color:#ecb000">Quick Links</h5>
      
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text-white">About</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Focus</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Hutom</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Whats-up</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Thought</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Career</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Contact Us</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Privacy-policy</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-lg-2 col-md-4 mb-4 mb-md-0 text-center">
                <h5 class=" mb-0" style="color:#ecb000"> Quick Links</h5>
      
                <ul class="list-unstyled">
                  <li>
                    <a href="#!" class="text-white">Sapiens</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Culture</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Films</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Forum</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Photos</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Most Read</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Videos</a>
                  </li>

                </ul>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
          <!-- Grid container -->
      
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 trendingnews. All rights reserved & Developed By -
            <a class="text-white" href="">Saurabh Chodvadiya</a>
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->
      </section>
      